In [ ]:
c = [2, 3, 4, 5]

In [ ]:
# new list that squares everything in c
# s = []

# for num in c:
#   s.append(num**2)
# print(s)

# method 2
[x**2 for x in c]

[4, 9, 16, 25]

In [ ]:
Python_Structure = ['List', 'Strings','Dict','Boolean']
range(50)
Data_Science = 'Data is the new oil'
price = 'Rs.20,000'
income = 50000

In [ ]:
# creating list from a and b to look like [[1,'a'], [2,'b'], [3,'c'], [4,'d']]

a = [1, 2, 3,4]
b = ['a', 'b', 'c', 'd']

In [ ]:

[[x,y] for x in a for y in b if a.index(x)==b.index(y)]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [ ]:
pairs = []
for p in range(0,3):
    for q in range(3,6):
        pairs.append([p,q])
print(pairs)

[[0, 3], [0, 4], [0, 5], [1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5]]

In [ ]:
pairs2 = [[p,q] for p in range(0,2) for q in range(3,5)]
print(pairs2)

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [ ]:
# zip
a=[1,2,3,4]
b=['a','b','c','d']
zip(a,b)

In [ ]:
print(list(zip(a,b)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
[list(x) for x in zip(a,b) ]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [ ]:
x = ['P', 6, 1, 'Q', 5, 'R']           #List Comprehension - Conditions on output expression
strings = [y for y in x if type(y) == str]
print(strings)

['P', 'Q', 'R']

In [ ]:
integer = [m for m in x if type(m) == int]
print(integer)

[6, 1, 5]

In [ ]:
[num**2 for num in range(10) if num%2 ==0]

[0, 4, 16, 36, 64]

In [ ]:
[num**2 if num%2 ==0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [ ]:
int_list = [-2, 4, 1, 6, -3]
#print(x for x in int_list if x > 0) # when using something that prints large output. it saves memory space
print(list(x for x in int_list if x > 0))

[4, 1, 6]