In [ ]:
# sequential statements

# Arithenetic operation
x = 100
y = 50
total = x+y
print(total)

# string operation and built in functions
name = 'Muhammad'
length = len(name)
print(length)

upper = name.upper() # changes name to upper case
print(upper)

name1 = 'Muhammad '
name2 = 'Ibrahim'
full_name = name1 + name2 # concatination, used with the '+' sign. it is used to join
full_name

150
8
MUHAMMAD

'Muhammad Ibrahim'

In [ ]:
firstchar = full_name[0:8]
print(firstchar)

firs4tchar = full_name[0:4] # extracts letters till 4
print(firs4tchar)

lastchar = full_name[-1] # prints the last character
print(lastchar)

last_3char = full_name[-3:] # prints the last 3character
print(last_3char)

Muhammad
Muha
m
him

In [ ]:
# Conditional statements
#if test expression

a = 10

if a > 7: # colon is used to specify a condition
  print('The value is greater than seven')

The value is greater than seven

In [ ]:
# else statement
b = 28

if b > 20:
  print('The value is greater than twenty')
else:
  print('The vaue is  less than twenty')

The value is greater than twenty

In [ ]:
# pass statement
if a == True:
  pass
else:
  print('This is a false block')

This is a false block

In [ ]:
# shorthand conditional statement
c = 30
print('The value is greater than 30') if c > 30  else c == print('The value is less than 30')

The value is less than 30

In [ ]:
x = 10

if x > 0:
  print('Positive')
else:
  print('negative')

Positive

In [ ]:
# elif
c = 30
if c > 30:
  print('The value is greater than 30') 
elif c == 30:
  print(' The value is equal to 30')  
else:
  print('The value is less than 30')

d = 11
if d % 2 == 0:
  print('This number is even')
elif d % 2 == 1:
  print('This number is odd')
else:
  print('This number is 0')

 The value is equal to 30
This number is odd

In [ ]:
# Multiple if
a = 100
if a > 0:
  print('This number is positive ')
  if a % 2 == 0:
    print('This number is even too..')
  if a % 2 == 1:
    print('This number is odd too..')
elif a < 0:
  print('the number is zero')
else :
  print('This number is negative')

This number is positive
This number is even too..

In [ ]:
# and/or operators
test1 = 10
test2 = 8
if test1 > 9 and test2 > 9:
  print('outstanding')
elif test1 <=5 and test2 < 5:
  print('need improvement')
else: 
  print('Very good')

Very good

In [ ]:
a = 100

if a > 0 and a % 2 == 0:
  print('The number is positive and even')
elif a > 0 and a % 2 == 1:
  print('The number is positive and odd')
elif a < 0 and a % 2 == 0:
  print('The number is negative and even')
elif a < 0 and a % 2 == 1:
  print('The number is negative and odd')
else:
  print('The number is 0')

The number is positive and even

In [ ]:
test = 10
test2 = 5

if test1 >= 5 or test2 >= 5:
  print('Eligible for Final Test')
else:
  print('Better Luck Next Time')

Eligible for Final Test

In [ ]:
# Multiple terinary operator
a = 100
b = 20
c = 200

max = a if a > b and a > c else b if b > a and b > c else c
print(max)

200

In [ ]:
# Conditional statements in list
fruits = ['Apple', 'Mango', 'Orange']

if 'Apple' in fruits:
  print('Apple is in the lsit')
else:
  print('Apple is not in the list')

Apple is in the lsit

In [ ]:
if 'Berry' not in fruits:
  fruits.insert(3, "Berry")
  print('fruit inserted')
else:
  pass
print(fruits)

fruit inserted
['Apple', 'Mango', 'Orange', 'Berry']

In [ ]:
if 'Berry' in fruits:
  fruits.remove('Berry')
  print('fruit removed')
else:
  pass

fruit removed