In [ ]:
Python = True
Age= 25.5
Income = ['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

# 'type' is a function to identify the 'type' of variable : Age
print(type(Age))

# 'len' is a function to get the length of variable : Income 
print(len(Income))

# Convert var to an integer: out2
IntPy = int(Python)
IntPy

<class 'float'>
8

1

In [ ]:
# Create lists 
Age1 = [25,65,34,44]
Age2 = [10,50]

# Concatenate together 
Age_f = Age1 + Age2
print(Age_f)

# Sort in descending order using the function 'sorted'
Age_full = sorted(Age_f)
Age_FULL = sorted(Age_f, reverse = True)

# Print out full_sorted
print(Age_full)
print(Age_FULL)

[25, 65, 34, 44, 10, 50]
[10, 25, 34, 44, 50, 65]
[65, 50, 44, 34, 25, 10]

In [ ]:
# Help itself is a function on the functions
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
#Index is a method
Income.index('Heena')

4

In [ ]:
#  .upper and .replace are the two methods that can 
#  be used on a string. 
Word = "python"
print(Word.upper())
print(Word.replace("n","n course"))

PYTHON
python course

In [ ]:
# .replace is not a method for num/int/float objects
Income.replace(50000,45000)

AttributeError: ignored

In [ ]:
# .index method that we used on the string can also be 
# used on a integer/list
Income.index(45000)

5

In [ ]:
Word.index('t')

2

In [ ]:
# .append will append an object in the list
Income.append(80000)
Income

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000, 'Raina', 80000]

In [ ]:
# .count is a method that can be used with both string and list
Sample = "Beautiful"
print(Sample.count("u"))

In [ ]:
# .count in list displays out how often 25000 appears in Income
print(Income.count(25000))

In [ ]:
# To access the elements in their range we have 
# to specify them in a list using a list function on the object
c=range(11)
print(c)
print (list(c))