A set is a data type used to store multiple items in a single variable

In [ ]:
# creating set
fruits = {'Apple', 'Oranfe', 'Banana'}
hobbies = set(['Debugging', 'Coding', 'Running', 'Gaming' ])

In [ ]:
type(fruits)
type(hobbies)

set

In [ ]:
for i in hobbies:
  print(i)

Running
Coding
Gaming
Debugging

In [ ]:
# adding to set
hobbies.add('Dancing')
print(hobbies)

{'Gaming', 'Dancing', 'Running', 'Coding', 'Debugging', 'Football', 'Eating'}

In [ ]:
if "Football" in hobbies:
  print('value present')
else:
  print('value not present')

value present

In [ ]:
# removing from set
hobbies.discard('Eating')
hobbies.remove('Dancing')
hobbies.pop() # deletes random item

'Gaming'

In [ ]:
print(hobbies)

{'Running', 'Coding', 'Debugging', 'Football'}

In [ ]:
set1 = {'Apple', 'Orange', 'Banan', 'Mango'}
set2 = set(['Papaya', 'Grapes', 'Pineapple', 'Mango'])

Difference = set1 - set2 # whats present in set1 but not in set 2
Difference

{'Apple', 'Banan', 'Orange'}

In [ ]:
set1 = {'Apple', 'Orange', 'Banan', 'Mango'}
set2 = set(['Papaya', 'Grapes', 'Pineapple', 'Mango'])

# intersection
# intersection = set1 & set2
intersection = set1.intersection(set2)
intersection

{'Mango'}

In [ ]:
set1 = {'Apple', 'Orange', 'Banan', 'Mango'}
set2 = set(['Papaya', 'Grapes', 'Pineapple', 'Mango'])

# union
union = set1 | set2
# union = set1.union(set2)
union

{'Apple', 'Banan', 'Grapes', 'Mango', 'Orange', 'Papaya', 'Pineapple'}