### Python Constructs 

##              - Sequence 
##              - Conditional/ Selection

###            Sequential Statement:



            
##            Python program are executed sequentially from top to bottom.

In [ ]:
# sequential statements 
# Perform Arithmetic Operations 

x =10 
y =15 
total = x+y 
print (total)

# Perform String Operations  and Built in functions

name = "Python"
length = len(name)
print (length)

upper = name.upper()
print (upper)

greeting1 = 'hello '
greeting2 = 'students'

greeting = greeting1 + greeting2
greeting

25
6
PYTHON

'hello students'

In [ ]:
# slicing 

# 0 extracts the first character 
firstchar = greeting[0]
print(firstchar)

# to extract range of characters 

first_4char = greeting[0:5]
print (first_4char)

last_char = greeting[-1]
print(last_char) 
# -1 extracts the last character 

# To extract last three characters 
last_3char = greeting[-3:]
print (last_3char)

h
hello
s
nts

###          Conditional Statement 
          
##          Execute set of code based on certain condition.

In [ ]:
# Conditional Statements 

# Basic Syntax

# if test expression: 
#   statements

# test expression --> variable  relational operator variable 

# Example: 

a=10
if a > 5: 
  print ("The value is greater than 5")

The value is greater than 5

In [ ]:
# if test expression: 
#  true block
# else: 
#   false block statements

a = 40 
if a > 10: 
  print ("The value is greater than 10")
else: 
  print ("The value is less than 10")

The value is greater than 10

In [ ]:
# pass statement 
if a == True : 
  pass 
else :
  print ("This is false block")

This is false block

In [ ]:
# Shorthand conditional statements
# using ternary condtional operator 
 
# Basic Syntax 
# [True statement] if [expression] else [False statement]

a = 40 
print ("The value is greater than or equal 40") if a >= 40 else print("The value is less than 40")

The value is greater than or equal 40

In [ ]:
#Try: 
x = 10

Positive

In [ ]:
# To check multiple conditions 
# if test expression:
#     statements
# elif test expression: 
#     statements 
# else: 
#     statements 

a = -12 
if a % 2 == 0: 
  print ("The number is even")
elif a % 2 == 1: 
  print ("The number is odd")
else : 
  print ("The number is zero")

The number is even

In [ ]:
# Multiple if statements 
# if test expression : 
#    statements 
#    if test expression : 
#         statements

# Example
a = 11 
if a > 0: 
  print ("The number is positive")
  if a % 2 == 0:
    print ("The number is even number too ..")
  if a % 2 == 1: 
    print ("The number is odd number too ..")
elif a ==0: 
  print("The number is zero")
else : 
  print ("The number is negative")

The number is positive
The number is odd number too ..

In [ ]:
# to check multiple conditions 
# using and or operator (Logical operator)

test_1=5 
test_2=9

if test_1 > 9 and test_2 > 9 : 
  print ("Outstanding")
  
elif test_1 <=5 and test_2 < 5: 
  print ("Need Improvement")

In [ ]:
if a>0 and a % 2 == 0: 
  print ("positive number and even number")
elif a>0 and a %2 ==1:
  print ("positive number and odd number")
elif a<0 and a % 2 == 0: 
  print ("negative number and even number")
elif a<0 and a %2 ==1: 
  print("negative and odd number")
else : 
  print("the number is zero")

positive number and odd number

In [ ]:
test_1=10
test_2= 5 
# To check eligible for final test , should be greater than 5 in one test

In [ ]:
 # Logical or 
if test_1 >5  or test_2 >5 : 
  print("Eligible for Final Test") 
else : 
  print("Better Luck next time")

Eligible for Final Test

In [ ]:
# multiple conditional using ternary operator 
a = 10 
b= 5 
c= 20 
max = a if a > b and a > c else b if  b>c and b>a else c 
print (max)

20

In [ ]:
# conditional Statements in list
fruits= ["Apple","Orange","Fig"]

# To check the "Apple" is present in the list or not 
if 'Apple' in fruits: 
  print ("Apple is in the list")
else : 
  print ("Apple is not in the list")

Apple is in the list

In [ ]:
if 'Berry' not in fruits: 
  fruits.insert(1,"Berry")
  print("Inserted fruit")
else:
  pass

# insert is used to add an item

Inserted fruit

In [ ]:
fruits

['Apple', 'Orange', 'Fig']

In [ ]:
if 'Berry' in fruits: 
  fruits.remove("Berry")
  print("Deleted fruit")
else:
  pass

# remove is used to delete the element

Deleted fruit