# Lists

In [65]:
#Income of a certain group

Income1 = 50000
Income2 = 75000
Income3 = 65000
Income4 = 45000
Income5 = 25000

Income = [Income1, Income2, Income3, Income4, Income5]
print(Income)

[50000, 75000, 65000, 45000, 25000]

In [66]:
Income = ["Sumit",50000,"Amit",75000,"Tina",65000,"Heena",45000,"Reena",25000]
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [67]:
#Lists can also contain Lists themselves
#Instead of putting strings between the number one can create sublists for each Income entry 

Income2 = [['Sumit',50000],
['Amit',75000],
['Tina',65000],
['Heena',45000],
['Reena',25000]]

Income2 #The main list contains 5 sub lists

[['Sumit', 50000],
 ['Amit', 75000],
 ['Tina', 65000],
 ['Heena', 45000],
 ['Reena', 25000]]

In [68]:
type(Income)
type(Income2)

list

In [69]:
# Accessing Information from a List - Use Index

Income[5] #to access Income corresponding to Tina

#Zero Based Indexing

65000

In [70]:
#Slicing using :

#[start:end]

print(Income[2:6])
print(Income[:])
print(Income[2:])
print(Income[:2])

#Income of males 
Income[1] + Income[3]

['Amit', 75000, 'Tina', 65000]
['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Sumit', 50000]

125000

In [71]:
#Income of females
Income[-1] + Income[-3] + Income[-5]

135000

In [72]:
Income2[2][:]  #Accessing all elements from list of list

['Tina', 65000]

In [73]:
#List Manipulations

Income[1] = 55000 #Change
Income

['Sumit', 55000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [74]:

Income[0:2] = ['Likhit',60000]  #Replacing elements
Income

['Likhit', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [75]:
Income_add = Income + ['Sumit',50000] #Adding elements
Income_add

['Likhit',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Sumit',
 50000]

In [76]:
del(Income_add[0:2])  #Deleting an element
Income_add

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000, 'Sumit', 50000]

In [77]:
# Create list Age
age = [11, 18, 20, 10, 9]

age_new = age
age_new

[11, 18, 20, 10, 9]

In [78]:
age_new[1] = 24
age_new

[11, 24, 20, 10, 9]

In [79]:
age   #Why is this happening?

[11, 24, 20, 10, 9]

In [80]:
age_new

[11, 24, 20, 10, 9]

In [81]:
age_final = age_new.copy()
age_final

[11, 24, 20, 10, 9]

In [82]:
age_final[1] = 32
age_final

[11, 32, 20, 10, 9]

In [83]:
age_new

[11, 24, 20, 10, 9]

In [84]:
age_final = age_new[:]
print(age_final)
age_final[1] = 32
print(age_final)
print(age_new)

[11, 24, 20, 10, 9]
[11, 32, 20, 10, 9]
[11, 24, 20, 10, 9]

In [85]:
#We can know about the methods available in the respective python classes by using the dir() method
print (dir(Income))
print (dir(Age))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__set_format__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [86]:
#Functions in Python

Python = True

# Print out type of var
print(type(Age))

# Print out length of var
print(len(Income))

# Convert var to an integer: out2
IntPy = int(Python)
IntPy

<class 'float'>
10

1

In [87]:
# Create lists 
Age1 = [25,65,34,44]
Age2 = [10,50]

# Paste together 
Age_f = Age1 + Age2
print(Age_f)
# Sort in descending order
Age_full = sorted(Age_f)
Age_FULL = sorted(Age_f, reverse = True)

# Print out full_sorted
print(Age_full)
print(Age_FULL)

[25, 65, 34, 44, 10, 50]
[10, 25, 34, 44, 50, 65]
[65, 50, 44, 34, 25, 10]