# Groupby Operations

If we have to combine the rows based on that column (If the values of a column is not unique ) - we use the 'groupby' method. We can then perform a aggregation operation on the remaining columns

In this section, we will be using a US store sales data, it contains several columns such as the row ID, the order ID which is a unique order ID, the order date, when a particular product was ordered, the ship date, when the product was actually shipped, the mode of shipping, the customer ID, the customer name, what is the segment the customer belongs to (all the observations from this data are from the country United States), which city does this order belong to, which state does this order belong to, all the observations from this data are from the country United States, which city does this order belong to, which state does this order belong to, sales (the total billing amount in dollars), the total quantity purchased, the discount offered, if any, and the total profit the retailer has got from this sale.

In [1]:
# For data manipulation, we will start with the standard imports by loading 
# the pandas and the numpy libraries.The numpy module helps in performing 
# mathematical operations on the pandas dataframe which are built on pandas series.

import pandas as pd
import numpy as np
from pandas import DataFrame
import os
os.chdir('C:\\Python Code\\Data Manipulation with Pandas\\Filtering, Selecting, Sorting and Adding New Columns')

In [2]:
# Read the data in a csv file into a dataframe.
data=pd.read_csv('Store.csv',sep=',',header=0, encoding="latin")

In [3]:
# In real time analytics project, a data set is usually too large even to be opened in excel. 
# In such a case, the head method of pandas help us to understand what is actually there in the
# data by glimpsing at the first few initial observations. It displays the first 5 rows.

data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# Check the number of rows and columns using the shape command.
data.shape

(9994, 21)

In [5]:
print(data.columns.tolist())

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

## Agg() method

To gain meaningful insights from the data, we use groupby operations very commonly in analytics. The .agg method of Pandas help us to do these groupby aggregations.

Let's say we want to look at the average quantity sold by region.. this, we can do by using the groupby method first and then by using the agg method. The agg method helps in summarising the data across various groups. To summarise,agg essentially these operations are built on numpy, therefore the agg accepts the numpy aggregations for summarisation

.agg() is the same as aggregate. It's callable and is passed the columns (Series objects) of the DataFrame, one at a time.

### What is the average quantity sold by region?

In [6]:
# To find the the average quantity sold by region, group based on the column 'Region'
# apply the method agg on the result. To the agg method, 
# Provide the operations to be performed on select columns as a dictionary of key/value pair. 

data.groupby('Region',as_index=False).agg({"Quantity":np.mean})

    Region  Quantity
0  Central  3.779595
1     East  3.728230
2    South  3.832716
3     West  3.829535

### What is the Total Sales by categories?

In [7]:
# When using the groupby option, the column region becomes the row index which is not always desirable, hence 
# the as_index = false option helps in converting the output into a dataframe

data.groupby("Category",as_index=False).agg({'Sales':np.sum})

          Category        Sales
0        Furniture  741999.7953
1  Office Supplies  719047.0320
2       Technology  836154.0330

In [8]:
# Multi-level Column Indexing
# We can apply multiple functions ( built-in or libraries) on all the selected columns of the dataframe. 
# Notice that we have used two square brackets to select the columns, the first bracket is the indexer and the second bracket is to select 
# the columns using a list grapple
# if the aggregate methods have to be applied on all columns, provide the functions as a list. 

data.groupby("Category")[['Sales','Profit']].agg(['max','sum'])

                     Sales                 Profit
                       max          sum       max          sum
Category
Furniture         4416.174  741999.7953  1013.127   18451.2728
Office Supplies   9892.740  719047.0320  4946.370  122490.8008
Technology       22638.480  836154.0330  8399.976  145454.9481

In [9]:
# After grouping, If we need to find the 'Sum' of all the 'Sales' and 
# 'Maximum Value' of the 'Profit', provide the necessary inputs as a key/value pair
# in the dictionary. The column names will become the key and the 'Operation' to
# be performed will become the values. 

data.groupby("Segment")[['Sales','Profit']].agg({'Sales':sum, 'Profit': max})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

### What is average discount given by segment?

In [10]:
#  To calculate the average discount given by segment

data.groupby("Segment").agg({'Discount':np.mean})

             Discount
Segment
Consumer     0.158141
Corporate    0.158228
Home Office  0.147128

In [11]:
# If the operations are performed on the columns used for grouping, use the rename option to 
# differentiate between the original and the aggregated values.

data.groupby("Segment",as_index=False).agg({'Discount':np.mean}).rename(columns={"Discount":"Average Discount"})

       Segment  Average Discount
0     Consumer          0.158141
1    Corporate          0.158228
2  Home Office          0.147128

In [12]:
# 'groupby' method can be combined with the sort_values method.
# To identify the segments that have provided the most average discounts, use the below code

data.groupby("Segment",as_index=False).agg({'Discount':np.mean}).rename(
    columns={"Discount":"Average Discount"}).sort_values("Average Discount",ascending=False)

       Segment  Average Discount
1    Corporate          0.158228
0     Consumer          0.158141
2  Home Office          0.147128

### Which segment of customers are most profitable?

In [13]:
data.groupby("Segment",as_index=False).agg({"Profit":np.mean}).sort_values("Profit",ascending=False)

       Segment     Profit
2  Home Office  33.818664
1    Corporate  30.456667
0     Consumer  25.836873

### What are the top 5 categories that give maximum profit?

In [14]:
data.groupby("Category",as_index=False).agg({"Profit":np.sum}).sort_values("Profit",ascending=False)

          Category       Profit
2       Technology  145454.9481
1  Office Supplies  122490.8008
0        Furniture   18451.2728

## Adding new columns

Very often, we need to create or derive new columns from the existing data. This will help us to provide better insight into the data.

### Comparing Sales per order with the average sales?

In [14]:
# Let's say we want to compare every entry in sales with its overall average. 
# We will have to calculate the value by dividing every value of sales by the
# 'average sales' and store it in the new variable e.g 'Hi_Low'. This will create 
# a new column named 'Hi_Low' in a dataframe

data["Hi_Low"]=(data['Sales'])/(data['Sales'].mean())

In [15]:
# Subtracting data from two columns will subtract the values in the corresponding
# columns for each row separately. This can be used to create a new column

data["Cost"]=(data['Sales'])-(data['Profit'])

In [16]:
# Display the first five rows. We can see a new column cost
# that is the difference between Sales and Profit values 
# of that row. 

data[['Customer ID', 'Cost', 'Sales', 'Profit', 'Hi_Low']].head()

  Customer ID       Cost     Sales    Profit    Hi_Low
0    CG-12520   220.0464  261.9600   41.9136  1.139660
1    CG-12520   512.3580  731.9400  219.5820  3.184314
2    DV-13045     7.7486   14.6200    6.8714  0.063604
3    SO-20335  1340.6085  957.5775 -383.0310  4.165952
4    SO-20335    19.8516   22.3680    2.5164  0.097312

## Apply() method

Using the apply method, we can do row wise as well as column wise computations on the dataframe.

### What is the Total Sales, Quantity, Discount, Profit across Total US.

In [17]:
# Lets say here we want to calculate what is the total sales
# quantity discount and profit across the total United States. For this 
# letâ€™s define a new function get_sum which essentially returns the 
# sum of the object under consideration

def get_sum(x):
    return np.sum(x)


# Select the four columns sales,quantity, discount, profit on which we want to 
# apply the sum, then we can pass the function (we just defined) within the apply. 
# The axis option will specify if we want to compute across rows or columns,
# axis can take values either 0 or 1, because we want to add all 
# values in a column sales or in other words we want to perform the operation 
# column wise we will use axis = 0. 
data[["Sales","Quantity","Discount","Profit"]].apply(get_sum,axis=0)

# For row wise operations we can provide axis = 1. This will add the 
# values in each of the columns for every row.

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

## Map() method

Map method can be used to map each value in a series to another value.

In [18]:
# For example, if we want to flag every value in a column profit based on the 
# condition that it is greater than 5000, this flagged value we will store 
# in a new variable profit _ flag
profit_flag = (data['Profit'] > 5000).map({True:'Above 5000', False:'Below 5000'})
print(profit_flag.head())

0    Below 5000
1    Below 5000
2    Below 5000
3    Below 5000
4    Below 5000
Name: Profit, dtype: object

## Datetime

Typically, Once read, the columns like 'Order Date' is stored as obj.In order to do any manipulations on date we will first have to convert the date into the date time format

### Find how much time it takes to place an order and ship the product

In [19]:
# Convert it using the to_datetime method.

data['Order Date']=pd.to_datetime(data['Order Date'])

In [20]:
data['Ship Date']=pd.to_datetime(data['Ship Date'])

In [21]:
# Once it is in the date format, we can subtract the two to 
# identify the number of days difference between the two.
# We can store the difference in a column named 'duration'.

data['duration']=data['Ship Date']-data['Order Date']

In [23]:
data[['Order Date', 'Ship Date', 'duration']].head()

  Order Date  Ship Date duration
0 2013-11-09 2013-11-12   3 days
1 2013-11-09 2013-11-12   3 days
2 2013-06-13 2013-06-17   4 days
3 2012-10-11 2012-10-18   7 days
4 2012-10-11 2012-10-18   7 days

### How many times has it taken more than 5 days from placing an order to shipping

In [24]:
# We can now use this newly created column to identify  the number
# of orders where the delay in shipment was more than 5 days. 
data[data['duration']>'5 days'].shape[0]

1822

In [25]:
data[data['duration']>'5 days'].shape[0]/data.shape[0]

0.18230938563137883

In [26]:
# We can also combine with 'groupby' method to identify which category
# has the most number of delayed shipment. 
data[data['duration']>'5 days'].groupby("Category").agg({"Category":np.size})

                 Category
Category
Furniture             365
Office Supplies      1131
Technology            326